
html, body
  width: 160px
  margin: none
  border: none
  opacity: 0.6

#shotBox
  opacity: 0.2
  
#shotBoxInput, #shotBoxList
  opacity: 1.0
  position: fixed
  width: 160px
#shotBoxInput
  height: 26px

.hidden
  display: none