
#webext-shotbox-shotbox {
    font-size: 14px;
    position: fixed;
    margin: 2px;
    padding: 2px;
    border: none;
    background-color: #352637;
    color: #fafdfb;
    width: 580px;
    height: 26px;
    z-index: 1000001;
}

#webext-shotbox-indicator {
    position: fixed;
    font-size: 11px;
    margin: 0;
    padding: 2px;
    background-color: #515455;
    color: #f7f7f7;
    border: none;
    width: 580px;
    height: 26px;
    z-index: 1000000;
}

#webext-shotbox-textpane {
    fontsize: 1px;
    margin: 0;
    padding: 0;
    z-index: 363;
}



li.webext-shotbox-li {
    list-style-type: none;
}
